.Table-container {
  height: 100%;
  overflow: auto;
  padding: 10px;

  .Table {
    height: 100%;
    width: 100%;

    table {
      width: 100%;
      font-size: medium;
      text-align: left;
      color: rgb(174, 199, 188);
      border-radius: 2px;

      thead {
        text-transform: capitalize;
        font-size: medium;
        color: var(--main-secondary-accent-colour);
        background-color: var(--main-dashboard-nav-colour);
        cursor: pointer;

        th {
          width: 100%;
          padding-top: 0.75rem;
          padding-bottom: 0.75rem;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          // border-bottom: 1px var(--main-border-colour) solid;
        }
      }

      tbody {
        tr {
          background-color: var(--main-primary-bg-colour);
        }
        td {
          padding-top: 1rem;
          padding-bottom: 1rem;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
        }
      }
    }
  }
}
