.Dashboard-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-primary-bg-colour);
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-rows: 60px 1fr;

  .Dashboard-top-nav-container {
    background-color: var(--main-dashboard-nav-colour);
    border-bottom: 1px var(--main-border-colour) solid;
    padding: 10px;

    .top-nav-left {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      i {
        width: 30px;

        svg {
          width: 100%;
          height: 100%;
          cursor: pointer;

          &:hover {
            color: rgba(255, 255, 255, 0.8);
          }
          &:active {
            color: rgba(255, 255, 255, 0.6);
          }
        }
      }

      .top-nav-left-title {
        margin-left: 20px;

        h1 {
          font-family: "Monoton", cursive;
          font-weight: 100;
          color: var(--main-accent-colour);
          letter-spacing: 2px;
        }
      }
    }
  }

  .Dashboard {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    transition: 0.3s;
    overflow: hidden;

    .Dashboard-content {
      overflow-x: auto;
      overflow-y: hidden;
      display: grid;
    }
  }
  ::-webkit-scrollbar {
    width: 6px;
    height: 5px;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--main-accent-colour);
    border-radius: 5px;
  }
}
